*{
    padding: 0%;
    margin: 0%;
}

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Patua One', cursive; */

h1{
    font-family: 'Patua One', cursive;
    font-size: 60px;
    background: rgb(231,0,146);
    background: linear-gradient(298deg, rgba(231,0,146,1) 0%, rgba(227,149,210,1) 40%, rgba(203,115,223,1) 71%, rgba(255,0,80,1) 100%);
    display: inline-block;
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: .4s;
    -webkit-text-stroke: 2px #00000033;
}

.preview{
    text-align: center;
}

h1:hover{
    background-position: right;
   

}

body{
    background: rgb(255,133,55);
    background: linear-gradient(90deg, rgba(255,133,55,1) 0%, rgba(121,9,9,1) 51%, rgba(183,0,255,1) 100%);
}

.stars{
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -2;
}

.stars img{
    position: absolute;
}